body {
  background-image: url("/專題/img/admin2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "微軟正黑體"; 
}
hr {
  background: linear-gradient(90deg, #80808000, black, #80808000);
  height: 1px;
  width: 80%;
  border: 0;
}
footer a {
  color: white;
  width: 25px;
  height: 25px;
}

/* view.php */
#cover {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background: rgba(51, 51, 51, 0.4);
  top: 0px;
  left: 0px;
  overflow: auto;
}

#coverr {
  width: 70%;
  min-width: 300px;
  max-width: 800px;
  height: 70%;
  min-height: 300px;
  position: absolute;
  z-index: 5;
  background: #ffffff;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  overflow: auto;
}

#cvr {
  position: absolute;
  width: 99%;
  height: 100%;
  margin: auto;
  z-index: 9898;
}

/*牛皮紙1底色*/
.bg1 {
  background-image: url("/專題/img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*木紋底色*/
.bg2 {
  background-image: url("/專題/img/nav.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* 活動公告 */

.card1 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card1-title {
  margin-bottom: 0.75rem;
}

/* 麵包屑 */
.breadcrumb1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
  color: whitesmoke;
  justify-content: center;
  
}
.breadcrumb1-item + .breadcrumb1-item {
  padding-left: 0.5rem;
}

.breadcrumb1-item + .breadcrumb1-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: rgb(49, 49, 49);
  content: "＞";
}

.breadcrumb1-item + .breadcrumb1-item:hover::before {
  text-decoration: underline;
}

.breadcrumb1-item + .breadcrumb1-item:hover::before {
  text-decoration: none;
}

.breadcrumb1-item.active {
  color: rgb(170, 2, 16);
}

/* 互動視窗 */

/* 600x337 */
.modalmin {
  position: fixed;
  top: 0;
  right: 5%;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
/* 1024x575 */
.modalbig {
  position: fixed;
  top: 0;
  right: 16%;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
/*1280x719*/
.modalmax {
  position: fixed;
  top: 0;
  right: 18.5%;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

/*斷點區*/
@media (max-width: 575px) {
 
}

/* sm */
@media (min-width: 576px) {
}

/* md */

@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
  html,
  body {
    height: 100%;
  }
}
